# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.tex~
*.idx
*.ind
*.ilg
*.toc
*.bbl
*.blg
*.run.xml
*.nav
*.bcf
*.bbl*
*.bcf*
*.synctex(busy)
*.vtc
*.xdv
*.maf
*.mtc
*.mtc0
*.snm

# Rocq build files
*.aux
*.glob
*.vo
*.vok
*.vos

# Other
generated/
build/
__pycache__/
csv/